#sprites-image
{
    display: none;
}

#game-wrapper
{
    display: inline-block;
    width: 1024px;
    height: 576px;
}

canvas
{
    position: absolute;
}

.grad-layer
{
    z-index: 0;
}

.bground-layer
{
    z-index: 1;
}

.inter-layer
{
    z-index: 2;
}

.fground-layer
{
    z-index: 3;
}

.player-layer
{
    z-index: 3;
}

.help-text
{
    display: inline-block;
    position: absolute;
    font-size: 12px;
    padding-left: 20px;
}
